<div class="pageContainer">
    <div flash-alert="success" active-class="in" class="alert fade" ng-show="flash.message">
    <span class="alert-message">{{flash.message}}</span>
</div>
<!-- Subscribe to error flash messages. -->
<div flash-alert="error" active-class="in" class="alert alert-danger fade" ng-show="flash.message">
    <span class="alert-message">{{flash.message}}</span>
</div>


    <div class="row">
        <div class="col-md-9">
            <h1 class="wishlistTitle">Your Wishlist</h1>
            <div class="row" ng-repeat="items in partitionedItems">
                <div ng-repeat="item in items" class="col-md-3 itemDescription" >
                    <img ng-src="{{item.imageUrl}}" class="img-responsive productImage"/>
                    {{item.name}}<br />
                    Purchase at: <span class="itemCost">${{item.price}}</span><br />
                    Current price: ${{item.current_price}}<br />
                    <a href="{{item.detailLink}}" target="_blank">More Details <span class="glyphicon glyphicon-share"> </span></a><br />
                    <button ng-click="buyItem(item, $index)" class="btn btn-success purchaseButton" ng-show="item.current_price < item.price">Purchase</button>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <h2>Add an Item</h2>
            <p class="addItemDescription">Add an Amazon item's ASIN number along with a price you'd be willing to purchase at.  When the price falls below, you will be given the option to purchase the item.  Once purchased it will be shipped to your door!</p>
            <form name="itemForm" ng-submit="itemForm.$valid && addItemToWishlist(item)" novalidate>
                <fieldset class="form-group">
                    <input ng-model="item.amazon_id" type="text" class="form-control" title="brand" placeholder="Enter ASIN Number" required />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="item.price" type="number" class="form-control" title="price" placeholder="0.00" step="0.00" required />
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary submitButton" value="Submit Item" />
                </fieldset>
            </form>
        </div>
    </div>
</div>






